div.reply
		p
			label(for='comment_body') Comment
		p
			textarea#txtComment(rows='10', name='comment[body]', value='', style='width: 300px')
		p
			input#btnAddComment(type='button', value='Add Comment')
